/* Global */

:root {
	--background: #121a1b;
	--foreground: #e4fff8;
	--primary: #90e2c9;
	--highlight: #e63f11;
	--active: #bf320f;
	--faded: rgba(255,255,255,0.5);

	--monospace: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--foreground);
	font-size: 16px;
}

/* App */

.Randomish-sections {
	padding: 10px;
}

/* Button */

.Button {
	border: 2px solid var(--primary);
	border-radius: 3px;
	padding: 2px 5px;
	color: var(--primary);
	background-color: transparent;
	font-size: 18px;
	font-weight: bold;
	min-width: 28px;
	transition: all 0.2s;
	outline: none;
	cursor: pointer;
}
.Button:not(:disabled):hover {
	color: var(--foreground) !important;
	border-color: var(--highlight) !important;
	background-color: var(--highlight) !important;
}
.Button:disabled {
	cursor: default !important;
	color: var(--faded);
	border-color: var(--faded);
}
.Button:active {
	border-color: var(--active);
	background-color: var(--active);
	transform: translate(1px, 1px);
}

.Button.ToggleButton.ToggleButton-on:not(:disabled) {
	color: var(--background);
	background-color: var(--primary);
}

/* Toolbar */

.Toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: -5px;
}
.Toolbar > * {
	margin-right: 5px;
	margin-bottom: 5px;
}
.ToolbarSplitter {
	border-left: 2px dotted var(--faded);
	margin-left: 5px;
	width: 5px;
	height: 10px;
	align-self: center;
}

/* Dice */
.Dice * {
	transition: all 0.2s;
}
.Dice svg {
	width: 100%;
	height: 100%;
}
.Dice svg path {
	fill: var(--background) !important;
}
.Dice.Dice-clickable {
	cursor: pointer;
}
.Dice.Dice-clickable:hover svg path {
	fill: var(--highlight) !important;
}
.Dice.Dice-clickable:active {
	transform: translate(1px, 1px);
}
.Dice.Dice-clickable:active svg path {
	fill: var(--active) !important;
}
.Dice.Dice-clicked {
	animation: Dice-spin 1.5s ease-out 1;
}
.Dice.Dice-clicked svg {
	animation: Dice-scale 2s ease-out 1;
}
@keyframes Dice-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(720deg);
	}
}
@keyframes Dice-scale {
	0% {
		width: 100%;
	}
	50% {
		width: 80%;
	}
	100% {
		width: 100%;
	}
}

/* Header */

.Header {
	border-bottom: 10px double var(--background);
	background: var(--primary);
	color: var(--background);
	padding: 20px 40px;
	margin-bottom: 5px;
}
.Header .Dice {
	position: absolute;
	top: 5px;
	width: 75px;
	left: 10px;
}
.Header-dice svg path {
	fill: var(--highlight);
}
.Header-title {
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bolder;
	margin-left: 60px;
}

/* Section */

.Section {
	margin: 20px 10px;
	border: 2px solid var(--primary);
	display: inline-block;
	vertical-align: top;
}
.Section-title {
	margin: 0;
	padding: 5px 80px 5px 20px;
	background: var(--primary);
	color: var(--background);
	border-bottom: 8px double var(--background);
	text-transform: uppercase;
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
}
.Section-header {
	padding: 5px 10px;
	background-color: rgba(255,255,255,0.2);
}
.Section-content {
	padding: 10px;
	overflow: hidden;
}
@media (max-width: 768px) {
	.Section {
		display: block;
	}
}

/* Strings */

.StringEntry {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	transition: all 0.2s;
}
.StringEntry:hover {
	background-color: var(--highlight);
	cursor: pointer;
}
.StringEntry-value {
	font-family: var(--monospace);
	flex-grow: 1;
	padding: 3px 3px;
	border-radius: 2px;
}

/* History */

.HistoryEntry {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.HistoryEntry-value {
	font-family: var(--monospace);
	padding: 3px 3px;
}
.HistoryEntry-timestamp {
	min-width: 60px;
	text-align: right;
	color: var(--faded);
	font-size: 13px;
}
.HistoryEntry:hover {
	background: rgba(255,255,255,0.1);
}