/* Global */

:root {
	--background: #121a1b;
	--foreground: #e4fff8;
	--primary: #90e2c9;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--foreground);
	font-size: 16px;
}

/* Header */

.Header {
	border-bottom: 10px double var(--background);
	background: var(--primary);
	color: var(--background);
	padding: 20px 40px;
	margin-bottom: 40px;
}
.Header-logo {
	position: absolute;
	top: 5px;
	width: 80px;
	left: 10px;
}
.Header-title {
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bolder;
	margin-left: 60px;
}

/* Section */

.Section {
	margin: 20px;
	border: 2px double var(--primary);
	box-shadow: 0 0 2px 2px rgba(144, 226, 201, 0.7);
}
.Section-title {
	margin: 0;
	padding: 5px 20px;
	background: var(--primary);
	color: var(--background);
	border-bottom: 8px double var(--background);
	text-transform: uppercase;
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
}
.Section-content {
	padding: 10px;
}