/* Global */

:root {
	--background: #121a1b;
	--foreground: #e4fff8;
	--primary: #90e2c9;
	--highlight: #9e3e04;

	--monospace: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--foreground);
	font-size: 16px;
}

/* Header */

.Header {
	border-bottom: 10px double var(--background);
	background: var(--primary);
	color: var(--background);
	padding: 20px 40px;
	margin-bottom: 40px;
}
.Header-logo {
	position: absolute;
	top: 5px;
	width: 80px;
	left: 10px;
	transition: all 0.3s;
}
.Header-logo:hover {
	filter: invert(0.5) sepia(1) saturate(59) hue-rotate(-375deg);
}
.Header-title {
	font-size: 30px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: bolder;
	margin-left: 60px;
}

/* Section */

.Section {
	margin: 20px;
	border: 2px double var(--primary);
	display: inline-block;
}
.Section-title {
	margin: 0;
	padding: 5px 20px;
	background: var(--primary);
	color: var(--background);
	border-bottom: 8px double var(--background);
	text-transform: uppercase;
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
}
.Section-content {
	padding: 10px;
}

/* String */

.String {
	display: flex;
	flex-direction: row;
	transition: all 0.2s;
}
.String:hover {
	background-color: var(--highlight);
	cursor: pointer;
}
.String-value {
	font-family: var(--monospace);
	flex-grow: 1;
	padding: 3px 3px;
	border-radius: 2px;
}